* {
	margin: 0 auto;
	padding: 0;
	font-family:'Lucida Casual', 'Comic Sans MS';

}
body {	line-height: 20px;
		color: #111111; 
		background: #E7E2C1;
	}
#header {
	color: white;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	background: #000000;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10 rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=5);
}
#header h2{
	float:right;
	margin-top: 10px;
}
#header a {
	float: left;
	background-image: url(images/logo.png);
	height: 50px;
	width: 144px;
	display: block;
}
#logo {
	width 30%;
	float: left;
	margin: 5px 5%;
}
#content {
	margin-top: 60px;
	width: 80%;
	height: auto;
}


.imagecol {
	margin: 0 1.47%;
	float: left;
	background: #5185A6;
	width: 400px;
	
}
.imgcol img {

	width: 203px;
	height: 203px;
}

.imagediv {
	margin: 10px auto;
	min-height: 416px;
	width: 366px;
	background-image: url(images/image.png);
	
}


.image {
	padding: 5px;
	width: 310px;
	height: 340px;
}
.image p{
	margin: 10px 11px;
}
.imagediv img {
	width: 279px;
	margin: -7px 12px;
}

.info {
	width: 100%;
	clear: both;
	margin: -34px 2px;
	min-height: 100px;
	height: auto;
}

.info p {
	word-wrap: break-word;
	margin: 5px 36px;
}
.nav a {
	width: 33%;
}

